@import "tailwindcss";

@theme {
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-space-mono);
}

:root {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-space-mono: "Space Mono", monospace;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

textarea {
  scrollbar-width: thin;
  scrollbar-color: #555555 transparent;
}
textarea::-webkit-scrollbar {
  width: 4px;
}
textarea::-webkit-scrollbar-track {
  background: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 4px;
}
